apiVersion: v1
kind: Service
metadata:
  name: week-16-app-api-svc
  labels:
    app:  week-16-app-api
spec:
  type: NodePort
  selector:
    app: api
  ports:
    - port: 8000      
      targetPort: 8000  
      nodePort: 30083
